{% extends 'base.html.twig' %}

{% block title %}Read blog{% endblock %}

{% block body %}

    <div id="post">

        {% for note in blog %}
            <div class="post_title">
                <div class="post_title_name">
                    <h4>{{ note.title }} </h4>
                </div>
                <div class="post_title_nav">
                    <a class="btn" name="btn_edit" href="{{ path('app_post_edit',{ 'id': note.id }) }}">Edit</a>
                </div>
            </div>
            <p>{{ note.description }}</p>

            <hr>
        {% endfor %}
    </div>
{% endblock %}
