{% extends 'base.html.twig' %}

{% block title %}Write a blog{% endblock %}

{% block body %}
    <div id="content">
        <div id="form">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
